
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!doctype html>
<html>
<head>
    <title>My First Website :)</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Inspect Me?</h1>
        </header>


        <p>
            I used these to make this site: <br />
            HTML <br />
            CSS <br />
        </p>
        <!-- Html is used for website programming. The first part of the flag is: CTF{HTML- -->


    </div>

</body>
</html>

