
@{
    ViewData["Title"] = "Shell Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shell Page</h2>

<body>

    <!--<iframe height="600" width=" 1000" src="192.168.56.101:3000/wetty/">

    </iframe>
        -->

</body>